.goods-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: calc((99vw / 5) - 20px);
  box-shadow: 10px 10px 30px -9px rgba(0,0,0,0.75);
  background-color: #EBECF0;

  &__img {
    width: 100%;
  }

  &__desc {
    padding: 0 25px 25px 25px;
  }

  &__head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__head-text {
    text-transform: uppercase;
    font-size: 25px;
  }

  &__text {
    font-size: 20px;
    text-align: left;
  }

  &__price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}