.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 99vw;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2;
}

.modal {
  z-index: 3;
  position: absolute;
  border-radius: 10px;
  background-color: #E74C3C;
  max-height: 40%;
  max-width: 50%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;

  &-head {
    background-color: rgba(0, 0, 0, .3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &-head-text {
    color: white;
    font-size: 22px;
  }

  &-body-text {
    text-align: center;
    color: white;
    font-size: 25px;
    margin-bottom: 30px;
  }

  &-actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}